@tailwind base;
@tailwind utilities;
@tailwind spacing;
@tailwind components;

body, html {
  @apply relative;
  min-height: 100%;
  min-width: 100%;
  @apply bg-stone-900 text-stone-400;
}

.fl-1 {
  flex: 1;
}

.shadow-down {
  box-shadow: inset 0px -1px rgba(0,0,0,0.80), 0px 1px rgba(255, 255, 255, 0.05);
}

button:not(.text),
input[type=text],
textarea {
  @apply rounded block;
  @apply px-2 py-1;
  resize: none;
}

textarea:not(:disabled),
input[type=text]:not(:disabled) {
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

input:disabled,
button:disabled,
textarea:disabled {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: disabled;
}

button:not(:disabled):not(.text) {
  @apply bg-sky-500;
  @apply border border-solid border-sky-800;
  @apply text-sky-100;
}

button:not(:disabled):not(.text):hover {
  @apply bg-sky-600;
}
