<header class="px-2 mb-1 py-2 flex shadow-down bg-stone-900">
  <aside class="ml-auto flex items-center">
    <div class="block pr-4 border-solid border-r border-stone-700">
      <LinkTo @route="new-message">{{t 'application.nav.messages'}}</LinkTo>
    </div>
    <div class="block pl-4">
      <a href="https://github.com/dadleyy/red-ink" rel="noreferrer noopener" target="_blank">
        {{t 'application.nav.about'}}
      </a>
    </div>
  </aside>
</header>

{{outlet}}
